@font-face {
  font-family: 'Apercu';
  src: url('../fonts/apercu.eot'); /* IE9 Compat Modes */
  src: url('../fonts/apercu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/apercu.woff') format('woff'), /* Modern Browsers */
       url('../fonts/apercu.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/apercu.svg#773d68d038fe7c6746af87cbb1789f49') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
