@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from, to {
    transform: none;
  }
  50% {
    transform: scale(1.07);
  }
}
