<ul class="filter-bar" ng-class="{ 'filter-bar--is-hidden' : isHidden }">
  <li class="filter filter--flux" ng-click="changeMapMode('flux')" ng-class="{'filter--active' : mapMode === 'flux'}">
  	<span class="filter-info">Flux de touriste</span>
  	<img src="images/home/touristes.svg" alt="Flux de touriste">
  </li>
  <li class="filter filter--hebergement"
  	ng-click="changeMapMode('hebergement')"
  	ng-class="{'filter--active' : mapMode === 'hebergement'}">
  	<span class="filter-info">Hébergement</span>
  	<img src="images/home/hebergement.svg" alt="Hébergement">
  </li>
  <li class="filter filter--restauration"
  	ng-click="changeMapMode('restauration')"
  	ng-class="{'filter--active' : mapMode === 'restauration'}">
  	<span class="filter-info">Restauration</span>
  	<img src="images/home/restauration.svg" alt="Restauration">
  </li>
  <li class="filter filter--transport"
  	ng-click="changeMapMode('transport')"
  	ng-class="{'filter--active' : mapMode === 'transport'}">
  	<span class="filter-info">Transports</span>
  	<img src="images/home/transport.svg" alt="Transport">
  </li>
  <li class="filter filter--shopping"
  	ng-click="changeMapMode('shopping')"
  	ng-class="{'filter--active' : mapMode === 'shopping'}">
  	<span class="filter-info">Shopping et Loisirs</span>
  	<img src="images/home/shopping.svg" alt="Shopping et loisirs">
  </li>
  <li class="filter filter--total"
  	ng-click="changeMapMode('total')"
  	ng-class="{'filter--active' : mapMode === 'total'}">
  	<span class="filter-info">Dépenses total</span>
  	<img src="images/home/depensestotal.svg" alt="Dépenses total">
  </li>
</ul>
