<ul class="filter-bar">
  <li class="filter filter--tourist">
  	<span class="filter-info">Flux touristes</span>
  	<img src="images/home/hebergement.svg" alt="Touristes">
  </li>
  <li class="filter filter--restauration">
  	<span class="filter-info">Restauration</span>
  	<img src="images/home/restauration.svg" alt="Restauration">
  </li>
  <li class="filter filter--transport">
  	<span class="filter-info">Transport</span>
  	<img src="images/home/transport.svg" alt="Transport">
  </li>
  <li class="filter filter--shopping">
  	<span class="filter-info">Shopping</span>
  	<img src="images/home/shopping.svg" alt="Shopping">
  </li>
  <li class="filter filter--total">
  	<span class="filter-info">Dépenses total</span>
  	<img src="images/home/depensestotal.svg" alt="Dépenses total">
  </li>
</ul>
