<div class="sidebar" ng-class="{'sidebar--is-show': isShow}">
	<span class="sidebar-cross" ng-click="hideSidebar()"></span>

	<h2 class="sidebar-title">
		<span>{{sidebarTitle}}</span>
	</h2>
	
	<div class="sidebar-graph">
		<div class="country-graph" 
			ng-repeat="country in selectedCountry" 
			ng-style="countryGraphStyle">

			<div class="country-graph-bar country-graph-bar--hebergement" 
				ng-style="{width : selectedCountryData[$index].hebergement}">

			</div>
			<div class="country-graph-bar country-graph-bar--restauration" 
				ng-style="{width : selectedCountryData[$index].restauration}">
			</div>
			<div class="country-graph-bar country-graph-bar--shopping" 
				ng-style="{width : selectedCountryData[$index].shopping}">
			</div>
			<div class="country-graph-bar country-graph-bar--transport" 
				ng-style="{width : selectedCountryData[$index].transport}">
			</div>
			<span class="sidebar-graph-total">{{selectedCountrySpendTotal[$index]}} €</span>
		</div>

		
		
		<span class="sidebar-graph-scale sidebar-graph-scale--origin">0</span>
		<span class="sidebar-graph-scale sidebar-graph-scale--max">{{maxTotal}}</span>
	</div>

</div>
