.filter-bar {
	position: absolute;
	left: 50%;
	bottom : $border-padding;
	transform: translate3d(-50%,0,0);
	list-style: none;
	transition: all 0.3s ease 0.3s;

	&--is-hidden {
		opacity : 0;
		transform: translate3d(-50%,0,0);
		transition: all 0.3s ease;
	}

	.filter {
		position: relative;
		display: inline-block;
		width: 5rem;
		margin-right: 4rem;
		cursor: pointer;
		transition: all 0.3s ease;
		margin-right: 5rem;

		svg {
			display: block;
			width: 100%;
		}
		.filter-info {
			position: absolute;
			left: 50%;
			transform: translate3d(-50%,0,0);
			text-align: center;
			white-space: nowrap;
			font-size: 1.5rem;
			padding: 5px 5px;
			border-radius: 3px;
			background: #ffd56a;
			opacity: 0;
			transition: all 0.3s ease;
			z-index: -1;
			pointer-events : none;
			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				top: 95%;
				left: 50%;
				transform: translate3d(-50%, -10px, 0);
				border-width: 7px 7px 0 7px;
				border-color: #ffd56a transparent transparent transparent;
				z-index: -1;
				transition: all 0.3s 0.1s ease;
			}
		}

		&:hover {
			transform: scale(1.1);
			.filter-info {
				opacity: 1;
				transform: translate3d(-50%, -155%, 0) scale(0.9);
				&:after {
					transform: translate3d(-50%, 0px, 0);
				}
			}
		}
		&:last-child {
			margin-right: 0;
		}

		&--active {
			animation: pulse 1.5s ease infinite;
		}
		&--flux .filter-info {
			background: $color-flux;
			&:after {
				border-color: $color-flux transparent transparent transparent;
			}
		}
		&--hebergement .filter-info {
			background: $color-hebergement;
			&:after {
				border-color: $color-hebergement transparent transparent transparent;
			}
		}
		&--restauration .filter-info {
			background: $color-restauration;
			&:after {
				border-color: $color-restauration transparent transparent transparent;
			}
		}
		&--transport .filter-info {
			background: $color-transport;
			&:after {
				border-color: $color-transport transparent transparent transparent;
			}
		}
		&--shopping .filter-info {
			background: $color-shopping;
			&:after {
				border-color: $color-shopping transparent transparent transparent;
			}
		}
		&--total .filter-info {
			background: $color-total;
			&:after {
				border-color: $color-total transparent transparent transparent;
			}
		}
	}
}
@media only screen and (max-width: 1100px) {
	.filter-bar .filter {
    width: 3.5rem;
		margin-right: 1.5rem;
  }
}
