.map-container {
  position: relative;

  width: 90%;
  margin: 4% auto 4% 8.5%;
  .map {
    display: block;

    .map-ground {
      fill: $color-map-fill;
      stroke: $color-dark-blue;
      stroke-width: 0.5;
      opacity: 0;
    }

    .map-active-state {
      cursor: pointer;
      fill: $color-light-blue;

      & .map-ground {
        fill: $color-light-blue;
      }

    }

    &--is-init {
      .map-active-state {
        &:hover {
          opacity: 0.8 !important;
        }
      }
    }
  }

  #map-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    canvas {
      pointer-events: none;
    }
  }
}


@media only screen and (max-width: 767px) {
  .map-container {
    top: 50%;
    transform: translateY(-50%);
  }
}
