.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
  .map-wrapper-overlay {
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    height: 0;
    transition: opacity 1s ease;
    z-index: 3;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    &--is-show {
      height: 100%;
      opacity: 1;
    }
  }
}

.map-container {
  position: relative;
  width: 90%;
  margin: 0 auto 4% 8.5%;
  top: 6%;
  left: 0;
  transition: all 0.6s ease 0.3s;
  transform-origin: top left;

  &--is-retracted {
    margin : 0 auto 0 2.5%;
    top: 50%;
    transform: scale(0.5) translate3d(0,-50%,0);
  }

  .map {
    display: block;
    .map-ground {
      fill: $color-map-fill;
      stroke: $color-dark-blue;
      stroke-width: 0.5;
      opacity: 0;
    }
    .map-ground--FRA {
      cursor: default!important;
      fill: $color-white;
      &:hover {
        fill: $color-white;
        opacity: 1;
      }
    }
    .map-active-state {
      cursor: pointer;
      fill: $color-white;
      & .map-ground {
        fill: $color-white;
      }
    }
    &--is-init {
      .map-active-state {
        &:hover {
          opacity: 0.6 !important;
        }
      }
    }
  }
  #map-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    canvas {
      pointer-events: none;
    }
  }
}
@media only screen and (max-width: 767px) {
  .map-container {
    top: 50%;
    transform: translateY(-50%);
  }
}
