.sidebar {
  position:absolute;
  width: 50%;
  height: 100%;
  top:0;
  right: 0%;
  transform: translateX(100%);
  transition: all 1s ease-out 0.1s;
  background: $color-deep-dark-blue;
  border-left: 1px solid rgba(255,255,255,0.1);
  z-index: 100;

  .sidebar-cross {
    position: absolute;
    top: 5rem;
    right: 5rem;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/home/cross.svg') center center;
    background-size: cover;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: rotate(90deg);
    }
  }

  .sidebar-title {
    position: relative;
    display: block;
    font-size: 2.3rem;
    text-align: center;
    width: 90%;
    margin: 10rem auto 5rem auto;
    padding: 3rem 0;
    color: $color-pop-light-blue;
    text-align: center;
    overflow: hidden;
    span {
      display:inline-block;
      transform: translateY(60px);
      opacity: 0;
      transition: all 0.3s ease-in;
    }
    &:before,&:after {
      content:'';
      position: absolute;
      display: blocks;
      height: 1px;
      width: 0%;
      background: $color-white;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }

  .sidebar-graph {
    display: block;
    position: relative;
    width: 80%;
    height: 50vh;
    margin:auto;
    border-left: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    opacity:0;
    transition: all 0.3s ease;
    &:after {
      content: '';
      display: table;
      clear: both;
      width: 100%;
      height: 1px;
    }
    .country-graph {
      position: relative;
      width: 90%;

      img {
        width: 40px;
        position: absolute;
        top: 53%;
        transform: translate3d(-135%,-50%,0);
        transition: all 0.4s ease;
      }
      .country-graph-bar {
        position: relative;
        height: 100%;
        width: 25%;
        float: left;
        background: $color-white;
        transform-origin: center left;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0px;
          top: 50%;
          width: 2px;
          height: calc(100% + 6px);
          transform: translateY(-50%);
          background: white;
        }
        &:hover {
          .country-graph-bar-details {
            opacity: 1;
            transform: translate3d(-50%,-72px,0);
            transition-delay: 0s;
          }
        }
        @include backgroundPatternModifier;

      }
      .country-graph-bar-details {
        position: absolute;
        display: inline-block;
        left: 50%;
        padding: 5px 20px;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.4rem;
        border-radius: 0.2rem;
        opacity: 0;
        transform: translate3d(-50%,0,0);
        transition: all 0.3s ease;
        z-index: 1000;
        pointer-events: none;
        border: 1px solid $color-white;
        &:after {
  				content: '';
  				position: absolute;
  				width: 0;
  				height: 0;
  				border-style: solid;
  				top: 117%;
  				left: 50%;
  				transform: translate3d(-50%, -10px, 0);
  				border-width: 7px 7px 0 7px;
  				z-index: -1;
  				transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
  			}

        @include backgroundModifier;
      }
    }
    .sidebar-graph-total {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 20px;
      width: 200px;
      display: block;
      color: #FFFFFF;
      font-size: 2rem;
    }
    .sidebar-graph-scale {
      position: absolute;
      top: 100%;
      transform: translate(-50%);
      margin-top: 1.5rem;
      font-size : 2rem;
      color: $color-white;

      &--origin {
        left: 0;
      }
      &--max {
        left: 90%;
        &:after {
          content :'';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate3d(-50%, -25px, 0);
          width: 1px;
          height: 10px;
          background: $color-white;
        }
      }
    }
  }
  .sidebar-graph-indicator {
    position: absolute;
    color: white;
    font-style: italic;
    font-size: 1.4rem;
    text-align: center;
    top: 100%;
    left: 50%;
    -webkit-filter: blur(0);
    transform: translate3d(-50%, 20px,0);
  }

  .sidebar-graph-legends {
    text-align:center;
    margin-top: 10rem;
    .sidebar-graph-legend {
      display: inline-block;
      font-size: 1.1rem;
      margin: 0 5px 20px 5px;
      opacity: 0;
      transform: translateY(20px);
      @include colorModifier;
      transition: all 0.2s ease;
    }

  }

  &--is-show {
    transform: none;
    .sidebar-graph {
      opacity: 1;
      transition: all 0.3s ease-out 1s;
    }
    .sidebar-title {
      &:before, &:after {
        width: 30%;
        opacity: 0.8;
        transform: translateX(-50%);
        transition: all 0.3s ease-out 1s;
      }
      span {
        transform: none;
        opacity: 1;
        transition: all 0.3s ease-out 1.5s;
      }
    }
    .country-graph img {
      transform: translateX(-130%);
      transition: all 0.4s ease 1s !important;
    }

    .sidebar-graph-legends {
      .sidebar-graph-legend {
        opacity: 1;
        transform: none;
      }
      @for $i from 0 through 5 {
        .sidebar-graph-legend:nth-child(#{$i}) {
          transition: all 0.2s ease 1s + 0.1 * $i;
        }
      }
    }
  }
}




@media only screen and (max-width: 1600px) {
  .sidebar .sidebar-title {
    font-size: 2rem;
  }
  .sidebar .sidebar-graph .country-graph .country-graph-bar-details{
    font-size: 1.3rem;
    line-height: 2.1rem;
    padding: 5px 13px;
    transform: translate3d(-50%, -65px, 0);
  }
  .sidebar .sidebar-graph-legends {
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 1400px) {
  .sidebar .sidebar-graph-indicator {
    font-size: 1.2rem;
  }
  .sidebar .sidebar-graph-legends {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 1280px) {
  .sidebar {
    .sidebar-cross {
      width: 20px;
      height: 20px;
    }
    .sidebar-title {
      font-size: 1.5rem;
    }
    .sidebar-graph .country-graph img {
      width: 25px;
    }
  }
}
