.sidebar {
  position:absolute;
  width: 50%;
  height: 100%;
  top:0;
  right: 0%;
  transform: translateX(100%);
  transition: all 0.9s ease-out;
  background: white;
  z-index: 100;
  &--is-show {
    transform: none;
  }
}
