<div class="page home-page">

  <section class="introduction-section">
    <!-- Landing section -->
    <introduction></introduction>
  </section>

  <section class="map-section">
    
    <div class="title-block">
      <h1>Les touristes à Paris</h1>
      <h2>De quel pays viennent-ils ?</h2>
      <strong>2014</strong>
    </div>
    
    <!-- Map -->
    <map></map>

    <!-- Country selection bar -->
    <country-selection></country-selection>
    
    <!-- Filter bar -->
    <filter-bar></filter-bar>

    <!-- Sidebar -->
    <sidebar></sidebar>
    
  </section>

</div>
